<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <div class="usa-media-block-body usa-width-one-third">
			<%= content_tag('h3') do %>
		     <%= link_to article.title, article_path(article)  %>
		  <% end %>
		  <%= content_tag('p', article.preview) %>
		</div>
  <% end %>
</ul>